<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">

    
    <title>Flammable Penguins: Games Career</title>
    <meta name="author" content="Claire Blackshaw">
    
      <meta name="description" content="Flammable Penguins is the internet home of Claire Blackshaw, programmer and designer, on which all her stuff can be found and linked from.">
    

    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    

    
    <meta property="og:title" content="Games Career" />
    <meta property="og:site_name" content="Flammable Penguins"/>
    <meta property="og:url" content="http://www.flammablepenguins.com/job/" />
    <meta property="og:locale" content="en_GB" />
    

    
      <meta property="og:description" content="Flammable Penguins is the internet home of Claire Blackshaw, programmer and designer, on which all her stuff can be found and linked from." />
    

    
    <link href='http://fonts.googleapis.com/css?family=Share|Lato:400,700,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="mainPageTop">
    <header id="topHead">
      <div class="topFade"></div>
      <h1>Flammable Penguins</h1>
      <h2>Claire Blackshaw's Forest of Fun</h2>
      <div class="face"></div>
    </header>

    <div id="navBar">
      <h2><a href="/">About</a></h2>
      <h2><a href="/blog/">Blog</a></h2>
      <h2><a href="/hobby/">Hobby Projects</a></h2>
      <h2><a href="/job/">Games Career</a></h2>
    </div>
  </div>


  
  <div id="mainPageBlock">
  
<div class="gameCompany">
  <h1 class="gameCompanyName">Sony</h1>
  <h3 class="gameJobRole">Senior Online Consultant</h3>
  <span class="time">2014 July - Present</span>
  <div class="gameJobDesc">I work as a Senior Online Consultant, part of the Network technology department. Working mostly with 1st Party studios I help games rock online. Be it design or technical its a loose remit which gives a lot of room to explore.</div>

  

</div>

<div class="gameCompany">
  <h1 class="gameCompanyName">Climax</h1>
  <h3 class="gameJobRole">Senior Technical Designer</h3>
  <span class="time">2012 February - 2014 July</span>
  <div class="gameJobDesc">I work as a Senior Technical Designer, now as a member of the programming department. At Climax I work in a mix of pre-production and technical research for projects. On teams I contribute everything from high level design to low level engine/platform work. My mix of design and programming ability allows me to work on technical prototypes and game prototypes. Additionally I assist in Climax&#39;s pitching and work in a client facing capacity. More recently I&#39;ve been focusing on programming tasks and technical challenges.</div>

  
  <div class="game" itemscope itemtype="http://schema.org/VideoGame">
    <h2 itemprop="name">Wonderbook: Book of Potions</h2>
    <aside>
      <dl>
        <dt>Position</dt><dd >Senior Technical Designer</dd>
        <dt>Platform</dt><dd itemprop="gamePlatform"><a>PS3</a></dd>
        <dt>Developer</dt><dd  itemprop="author">Climax</dd>
        <dt>Publisher</dt><dd  itemprop="publisher">Sony Ex Dev</dd>
        <dt>Released</dt><dd  itemprop="datePublished">12 November 2013</dd>
      </dl>
      
      <span style="padding: 4px;display: block;"><a href="http://www.sony.com/pottermore/us/book-of-potions" itemprop="url">Official Website</a></span>
      
      
      <span style="padding: 4px;display: block;"><a href="https://www.youtube.com/watch?v=8BNIEtBtiGY">YouTube</a></span>
      
    </aside>
    
    <p class="gameBodyPar">Climax brought me on for Harry Potter Wonderbook series due to my mix of creative and technical skills.</p>
    
    <p class="gameBodyPar">Within a month of joining due to my passion for the project, technical expertise and love for the IP I was design lead on the Climax side.</p>
    
    <p class="gameBodyPar">My duties involved working closely with Sony and the IP holder to rapidly prototype what was possible with the platform while staying true to the IP constraints.</p>
    

    <div class="images">
    
      <div class="thumbImg" style="background-image: url('images/bop_screenshot01.jpg')" ng-click="showImage(images/bop_screenshot01.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/bop_screenshot02.jpg')" ng-click="showImage(images/bop_screenshot02.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/bop_screenshot03.jpg')" ng-click="showImage(images/bop_screenshot03.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/bop_screenshot04.jpg')" ng-click="showImage(images/bop_screenshot04.jpg);"></div>
    
    </div>
  </div>
  
  <div class="game" itemscope itemtype="http://schema.org/VideoGame">
    <h2 itemprop="name">Dead Nation Apocalypse Edition</h2>
    <aside>
      <dl>
        <dt>Position</dt><dd >Senior Technical Designer</dd>
        <dt>Platform</dt><dd itemprop="gamePlatform"><a>PS4</a></dd>
        <dt>Developer</dt><dd  itemprop="author">Climax</dd>
        <dt>Publisher</dt><dd  itemprop="publisher">Sony Ex Dev</dd>
        <dt>Released</dt><dd  itemprop="datePublished">4 March 2014</dd>
      </dl>
      
      <span style="padding: 4px;display: block;"><a href="http://blog.us.playstation.com/2014/02/27/dead-nation-apocalypse-edition-coming-to-ps4-march-4th/" itemprop="url">Official Website</a></span>
      
      
      <span style="padding: 4px;display: block;"><a href="https://www.youtube.com/watch?v=qD9r49_5DZc">YouTube</a></span>
      
    </aside>
    
    <p class="gameBodyPar">I was brought on as a programmer and designer. I designed and implemented all the next-gen social features which at the time were still in development.</p>
    
    <p class="gameBodyPar">Broadcast&#43; an innovative streaming gameplay mode, Companion App using AngularJS, and a variety of features which pushed the services layers of PSN all without the need for a hosted server.</p>
    
    <p class="gameBodyPar">The project was exciting as I was a vertical stack from high level concept to low level platform allowing swift innovation on a moving platform.</p>
    

    <div class="images">
    
      <div class="thumbImg" style="background-image: url('images/dn_screenshot01.jpg')" ng-click="showImage(images/dn_screenshot01.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/dn_screenshot02.gif')" ng-click="showImage(images/dn_screenshot02.gif);"></div>
    
      <div class="thumbImg" style="background-image: url('images/dn_screenshot03.gif')" ng-click="showImage(images/dn_screenshot03.gif);"></div>
    
      <div class="thumbImg" style="background-image: url('images/dn_screenshot04.jpg')" ng-click="showImage(images/dn_screenshot04.jpg);"></div>
    
    </div>
  </div>
  

</div>

<div class="gameCompany">
  <h1 class="gameCompanyName">Jagex</h1>
  <h3 class="gameJobRole">Lead Designer</h3>
  <span class="time">2010 September - 2012 February</span>
  <div class="gameJobDesc">I&#39;ve started as a designer in the GameLabs division of Jagex. A few weeks after starting I was promoted to Lead Designer. Initially brought in to work in the RnD department called GameLabs, developing prototypes and exploring technical opportunities. Leading the development of Jagex&#39;s first microtransactions title developed in-house, 8Realms.</div>

  
  <div class="game" itemscope itemtype="http://schema.org/VideoGame">
    <h2 itemprop="name">8Realms</h2>
    <aside>
      <dl>
        <dt>Position</dt><dd >Lead Designer</dd>
        <dt>Platform</dt><dd itemprop="gamePlatform"><a>HTML</a></dd>
        <dt>Developer</dt><dd  itemprop="author">Jagex</dd>
        <dt>Publisher</dt><dd  itemprop="publisher">Jagex</dd>
        <dt>Released</dt><dd  itemprop="datePublished">6th December</dd>
      </dl>
      
      <span style="padding: 4px;display: block;"><a href="http://www.8Realms.com/" itemprop="url">Official Website</a></span>
      
      
      <span style="padding: 4px;display: block;"><a href="https://www.youtube.com/watch?v=i91ebo5wfEA">YouTube</a></span>
      
    </aside>
    
    <p class="gameBodyPar">8Realms is an HTML-based empire-building massively multiplayer online strategy game developed by Jagex Games Studio.</p>
    
    <p class="gameBodyPar">The brief was to create an asynchronous massive strategy game which could operate on a wide selection of browsers while developing the in-house web technology with minimal griefing.</p>
    
    <p class="gameBodyPar">Players are expected to progress through researching and constructing to gain culture in order to progress to the next age. Culture can be gained faster by capturing various luxuries found scattered throughout the map with army forces. Players reach the next age by reaching 100% culture and by building a wonder. There are 8 ages in 8Realms: Ancient, Classical, Feudal, Renaissance, Imperial, Industrial, Modern and Future.</p>
    

    <div class="images">
    
      <div class="thumbImg" style="background-image: url('images/8r_screenshot01.jpg')" ng-click="showImage(images/8r_screenshot01.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/8r_screenshot00.jpg')" ng-click="showImage(images/8r_screenshot00.jpg);"></div>
    
    </div>
  </div>
  

</div>

<div class="gameCompany">
  <h1 class="gameCompanyName">Mere-Mortals</h1>
  <h3 class="gameJobRole">Programmer &amp; Designer</h3>
  <span class="time">2008 March - 2010 September</span>
  <div class="gameJobDesc">My first games industry position, I joined as a placement student while doing my 3rd degree at Northumbria. Shortly afterwards I was placed on Encleverment Experiment and then made Lead on the project. I did a variety of projects, concept and pitch work as well as small prototypes. Including RnD on a Sony Move title which was cancelled when the studio closed.</div>

  
  <div class="game" itemscope itemtype="http://schema.org/VideoGame">
    <h2 itemprop="name">Glo: An Adventure into the Light</h2>
    <aside>
      <dl>
        <dt>Position</dt><dd >Lead Designer</dd>
        <dt>Platform</dt><dd itemprop="gamePlatform"><a>Mobile</a></dd>
        <dt>Developer</dt><dd  itemprop="author">Mere-Mortals</dd>
        <dt>Publisher</dt><dd  itemprop="publisher">Mere-Mortals</dd>
        <dt>Released</dt><dd  itemprop="datePublished">Cancelled</dd>
      </dl>
      
      
    </aside>
    
    <p class="gameBodyPar">Glo is a relaxing light based puzzle game, focusing on providing a beautiful experience. Filled with interesting challenges this is the first internal IP Mere-Mortals managed to launch.</p>
    
    <p class="gameBodyPar">So I took two animactics, a bag of concepts and went off and made the prototype on the iPhone. After some initial interest at some conferences it was decided to move it to Samsung Bada and move into full production. At which point for the first time I closed my IDE and went full time to design.</p>
    
    <p class="gameBodyPar">Challenges all over the place and lessons to be learned. Samsung Bada platform was not finalised as we were a launch title, a first for us. It was our first phone game, and the first game with an in-house designer.</p>
    
    <p class="gameBodyPar">Other than core game-play design choices which needed to be made the feel was the most important thing to polish and maintain. The levels had to flow without frustration as it would break all the hard work the artists had put in to relaxing you.</p>
    
    <p class="gameBodyPar">I have to bow to the art team they did a really fab job on this one.</p>
    

    <div class="images">
    
      <div class="thumbImg" style="background-image: url('images/glo_screenshot00.jpg')" ng-click="showImage(images/glo_screenshot00.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/glo_screenshot01.jpg')" ng-click="showImage(images/glo_screenshot01.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/glo_screenshot02.jpg')" ng-click="showImage(images/glo_screenshot02.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/glo_screenshot03.jpg')" ng-click="showImage(images/glo_screenshot03.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/glo_screenshot04.jpg')" ng-click="showImage(images/glo_screenshot04.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/glo_screenshot05.jpg')" ng-click="showImage(images/glo_screenshot05.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/glo_screenshot06.jpg')" ng-click="showImage(images/glo_screenshot06.jpg);"></div>
    
      <div class="thumbImg" style="background-image: url('images/glo_screenshot07.jpg')" ng-click="showImage(images/glo_screenshot07.jpg);"></div>
    
    </div>
  </div>
  
  <div class="game" itemscope itemtype="http://schema.org/VideoGame">
    <h2 itemprop="name">Encleverment Experiment</h2>
    <aside>
      <dl>
        <dt>Position</dt><dd >Lead Programmer</dd>
        <dt>Platform</dt><dd itemprop="gamePlatform"><a>Xbox 360</a></dd>
        <dt>Developer</dt><dd  itemprop="author">Mere-Mortals</dd>
        <dt>Publisher</dt><dd  itemprop="publisher">Blitz Arcade</dd>
        <dt>Released</dt><dd  itemprop="datePublished">2009</dd>
      </dl>
      
      <span style="padding: 4px;display: block;"><a href="http://www.enclevermentexperiment.com/" itemprop="url">Official Website</a></span>
      
      
      <span style="padding: 4px;display: block;"><a href="https://www.youtube.com/watch?v=QQpiKLMo0PM">YouTube</a></span>
      
    </aside>
    
    <p class="gameBodyPar">This was a great project to work on full of opportunities. A family quiz game it really shone in multiplayer. Sadly we didn&#39;t get the balance quite right between single player and multiplayer. Also the majority of players were doing single player which was a shame as the game really came into its own in multiplayer.</p>
    
    <p class="gameBodyPar">I love the mascots, my favourite was Demon Panda. Then a marketer dumped on the Punk Lampire for not being appealing, and then he became my favourite. My favourite game modes are: One Small Step, Odd One Out, and Labyrinth. I really am terrible at the memory games.</p>
    
    <p class="gameBodyPar">This was a project that exploded in many ways in scale and scope. I learnt a lot from this project. It was great working with Blitz who were really open communicators. It&#39;s thanks to this project I found my passion design, despite previously having done design I had always overlooked it as I was doing a jack of all trades kinda thing.</p>
    

    <div class="images">
    
      <div class="thumbImg" style="background-image: url('images/ee_screenshot.jpg')" ng-click="showImage(images/ee_screenshot.jpg);"></div>
    
    </div>
  </div>
  
  <div class="game" itemscope itemtype="http://schema.org/VideoGame">
    <h2 itemprop="name">World Sports Party</h2>
    <aside>
      <dl>
        <dt>Position</dt><dd >Programmer</dd>
        <dt>Platform</dt><dd itemprop="gamePlatform"><a>Wii</a></dd>
        <dt>Developer</dt><dd  itemprop="author">Mere-Mortals</dd>
        <dt>Publisher</dt><dd  itemprop="publisher">Ubisoft</dd>
        <dt>Released</dt><dd  itemprop="datePublished">2009</dd>
      </dl>
      
      
      <span style="padding: 4px;display: block;"><a href="https://www.youtube.com/watch?v=m3qrVN-nTs4">YouTube</a></span>
      
    </aside>
    
    <p class="gameBodyPar">I only lightly touched this project as there was a large overlap with Encleverment. My handiwork is most evident in the Skeet Shooting Game.</p>
    
    <p class="gameBodyPar">A fun little collection of sports mini-games. I highly recommend Dodge-ball, Alice did a fab job of polishing that to a fine sheen. It&#39;s fun and looks gorgeous. This was biggest project Mere-Mortals has yet undertaken.</p>
    

    <div class="images">
    
      <div class="thumbImg" style="background-image: url('images/wsp_box.jpg')" ng-click="showImage(images/wsp_box.jpg);"></div>
    
    </div>
  </div>
  
  <div class="game" itemscope itemtype="http://schema.org/VideoGame">
    <h2 itemprop="name">Pocket Pack: Boardgames</h2>
    <aside>
      <dl>
        <dt>Position</dt><dd >Programmer</dd>
        <dt>Platform</dt><dd itemprop="gamePlatform"><a>Nintendo DS</a></dd>
        <dt>Developer</dt><dd  itemprop="author">Mere-Mortals</dd>
        <dt>Publisher</dt><dd  itemprop="publisher">Mere-Mortals</dd>
        <dt>Released</dt><dd  itemprop="datePublished">2010</dd>
      </dl>
      
      <span style="padding: 4px;display: block;"><a href="http://dsiware.nintendolife.com/games/dsiware/pocket_pack_words_and_numbers" itemprop="url">Official Website</a></span>
      
      
      <span style="padding: 4px;display: block;"><a href="https://www.youtube.com/watch?v=Ve3btOZW19g">YouTube</a></span>
      
    </aside>
    
    <p class="gameBodyPar">Neil&#39;s baby, he did all the heavy lifting on this project. Though I was brought in for several games logic and AI. Writing an A* that doesn&#39;t chomp memory is quite a challenge and was very interesting.</p>
    
    <p class="gameBodyPar">Aaah the harsh salt of reality, this game was my first introduction to circumstances beyond your control. This game started life as a DS game with a publisher who right near the end of the project went bust. Mere-Mortals then decided to split them up, give them some more polish and release as several DSi Ware packs.</p>
    

    <div class="images">
    
      <div class="thumbImg" style="background-image: url('images/pp_screenshot.jpg')" ng-click="showImage(images/pp_screenshot.jpg);"></div>
    
    </div>
  </div>
  
  <div class="game" itemscope itemtype="http://schema.org/VideoGame">
    <h2 itemprop="name">PDC World Championship Darts 2008</h2>
    <aside>
      <dl>
        <dt>Position</dt><dd >Programmer</dd>
        <dt>Platform</dt><dd itemprop="gamePlatform"><a>PS2</a><a>Xbox 360</a><a>Wii</a></dd>
        <dt>Developer</dt><dd  itemprop="author">Mere-Mortals</dd>
        <dt>Publisher</dt><dd  itemprop="publisher">Oxygen Games</dd>
        <dt>Released</dt><dd  itemprop="datePublished">2008</dd>
      </dl>
      
      
      <span style="padding: 4px;display: block;"><a href="https://www.youtube.com/watch?v=9jj8sCVkzso">YouTube</a></span>
      
    </aside>
    
    <p class="gameBodyPar">So I arrive in the office on my first day, I&#39;m shown to my desk and within a few hours I have a massive task list and I&#39;m debugging the crunch time project. Darts was my crash course into the world of games.</p>
    
    <p class="gameBodyPar">It has to be said the game really captures PDC Championship. Don&#39;t believe me, turn on the TV and watch it side by side. Not only did we get an official commentator, but also mo-cap of darts players.</p>
    
    <p class="gameBodyPar">I worked mostly on debugging and some mini-games on this project.</p>
    

    <div class="images">
    
      <div class="thumbImg" style="background-image: url('images/pdc_screenshot.jpg')" ng-click="showImage(images/pdc_screenshot.jpg);"></div>
    
    </div>
  </div>
  

</div>

<div class="gameCompany">
  <h1 class="gameCompanyName">Flammable Penguins</h1>
  <h3 class="gameJobRole">Creative Programmer</h3>
  <span class="time">2002 January - 2008 September</span>
  <div class="gameJobDesc">After highschool I setup a small company to do my freelancing through. Over the years I did a variety of projects and contracts. Web Developer, Database Development, Embedded Development, Wedding Photographer, IT Support, Stage Support, LARPs, Roleplaying Modules and various other bits and bobs.</div>

  

</div>


<div id="imagePrev" class="hidden" ng-click="hideImage();">
</div>

  </div>

  
  <script type="text/javascript">

  
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

  
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-15579957-1', 'flammablepenguins.com');
  ga('send', 'pageview');

</script>
</body>
</html>
